{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Editando '{{ task.title }}'
    {% endblock %}
</head>
<body>
    {% block content %}
       <div class="offset-1 col-10 list-div">
          <h1>  Editando '{{ task.title }}'</h1>
          <form method="POST">
              {% csrf_token %}
              {{ form|crispy}}
              <input type="submit" class="btn btn-success" value="Editar tarefa">

          </form>

       </div>
    {% endblock %}


</body>
</html>